$text-color: #ABABAB;
$background-color: rgb(23, 23, 23);
$background-additional-color: rgb(53, 53, 53);
$accent-color: #faed00;

$left-right-padding: 2rem;
$top-bottom-padding: 2rem;
$border-width: 1.5px;