@import "_varibles.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: $text-color;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(250, 237, 0, 0.3) 100%, transparent),
    url("./assets/background__markus-spiske-unsplash.jpg") bottom/cover
      no-repeat border-box;
  position: relative;

  .header__background-image {
    width: 100%;
    height: 100vh;
    background-color: rgba(23, 23, 23, 0.9);
    clip-path: polygon(0 100%, 0 0, 100% 54%, 100% 100%);
    z-index: 1;
  }

  h1 {
    position: absolute;
    top: 45%;
    left: 20%;
  }

  h2 {
    position: absolute;
    top: 60%;
    left: 20%;
  }

  .round {
    display: block;
    position: relative;
    border: 3px solid $accent-color;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 9rem;
    cursor: pointer;

    span {
      z-index: 999;
      height: 3px;
      margin: 1px;
      width: 30px;
      background: $accent-color;
      transition: 0.4s ease;
    }

    span:first-child {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      left: 25%;
      bottom: 35%;
    }

    span:nth-child(2) {
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      left: 45%;
      bottom: 35%;
    }

    span:nth-child(3) {
      display: block;
      position: absolute;
      transform: rotate(45deg);
      left: 25%;
      bottom: 54%;
    }

    span:nth-child(4) {
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      left: 45%;
      bottom: 54%;
    }

    &:hover span:nth-child(1) {
      transform: rotate(-135deg);
    }

    &:hover span:nth-child(2) {
      transform: rotate(135deg);
    }

    &:hover span:nth-child(3) {
      transform: rotate(225deg);
    }

    &:hover span:nth-child(4) {
      transform: rotate(-225deg);
    }
  }
}

.nav-bar {
  width: 100%;
  background-color: rgba(250, 237, 0);
  z-index: 1;

  .toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
    outline: none;
    margin-left: 1rem;

    &__bar {
      width: 100%;
      height: 0.3rem;
      background-color: $background-color;
      display: block;
      margin: 0.6rem 0;
    }
  }

  .nav-bar__items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;

    .nav-bar__item {
      padding: 0.5rem 0;

      a {
        text-decoration: none;

        p {
          font-family: inherit;
          color: $background-color;
        }
      }
    }

    .nav-bar__item-button {
      padding: 0.5rem 0.3rem;
      background-color: $background-additional-color;

      button {
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        color: $text-color;
      }

      &:hover {
        button {
          color: $accent-color;
        }
      }
    }
  }
}

.section-title {
  display: inline-block;
  margin-bottom: 2rem;
  border-bottom: $border-width solid $accent-color;
  height: 3rem;
}

#about {
  background-color: $background-additional-color;
  padding: $top-bottom-padding $left-right-padding;

  a {
    text-decoration: none;
    color: $accent-color;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .photo-border {
      border: $border-width solid $accent-color;
      height: 22rem;
      width: 15rem;
      position: relative;
      margin-bottom: 3rem;

      .about__photo {
        height: auto;
        width: 15rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }
  }

  .resume {
    display: block;
    background-color: $accent-color;
    color: $background-additional-color;
    font-family: inherit;
    font-weight: bold;
    border-radius: 3px;
    margin: 1.5rem auto 1rem auto;
    padding: 0.2rem 0.5rem;
    width: fit-content;

    &:hover {
      background-color: $background-additional-color;
      color: $accent-color;
    }
  }
}

#technologies {
  background-color: $background-color;
  padding: $top-bottom-padding $left-right-padding;

  .technologies__list {
    list-style: none;
    margin: 0 auto;
    width: 14rem;

    .technologies__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;

      img {
        height: 2rem;
        width: auto;
      }
    }
  }
}

#certificates {
  background-color: $background-color;
  padding: $top-bottom-padding $left-right-padding;

  .certificates__gallery {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-gap: 1rem;
    justify-content: center;

    &--item {
      height: 10rem;
      list-style: none;
      text-align: center;
      cursor: pointer;
      overflow: hidden;

      img {
        height: 100%;
        width: 12rem;
      }

      a {
        text-decoration: none;
      }

      figcaption {
        background-color: #000000d7;
        color: $text-color;
        height: 10rem;
        padding-top: 2rem;
        position: relative;
      }
    }

    &--item:hover > a > figure > figcaption {
      transform: translateY(-145px);
      transition: 300ms;
    }

    &--item:not(:hover) > a > figure > figcaption {
      transform: translateY(0px);
      transition: 300ms;
    }
  }
}

#projects {
  background-color: $background-color;
  padding: $top-bottom-padding $left-right-padding;

  .project {
    .project__container {
      display: block;
      border: $border-width solid $accent-color;
      padding: 0.5rem 0.5rem;
      text-decoration: none;
      color: inherit;

      .project__screenshot {
        width: 100%;
        height: auto;
      }

      .project__title {
        margin: 1rem auto;
      }

      .project__description {
        margin-bottom: 1rem;
      }
    }

    .project__links {
      margin: 2rem auto;
      display: flex;
      justify-content: space-around;

      a {
        text-decoration: none;
        cursor: pointer;

        img {
          height: 3rem;
          width: auto;
        }
      }
    }
  }
}

#contacts {
  background-color: $background-color;
  padding: $top-bottom-padding $left-right-padding;

  .contacts__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contact__link {
      margin: 2rem 1rem;

      a {
        text-decoration: none;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        img {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  .resume {
    text-decoration: none;
    display: block;
    background-color: $accent-color;
    color: $background-color;
    font-family: inherit;
    font-weight: bold;
    border-radius: 3px;
    margin: 1rem auto;
    padding: 0.2rem 0.5rem;
    width: fit-content;

    &:hover {
      background-color: $background-color;
      color: $accent-color;
    }
  }
}

.footer {
  background-color: $accent-color;
  padding: 0.5rem;

  p {
    text-align: center;
    color: $background-color;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappearance {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dropdown {
  from {
    height: 3rem;
  }

  to {
    height: 12rem;
  }
}

@keyframes dropup {
  from {
    height: 12rem;
  }

  to {
    height: 3rem;
  }
}

@media (min-width: 45rem) {
  .nav-bar {
    .toggle-button {
      display: none;
    }

    .nav-bar__items {
      display: flex;
      flex-direction: row;
    }
  }

  #about {
    .about__container {
      flex-direction: row;
    }

    .about__text-section {
      max-width: 50%;
    }
  }

  #technologies {
    .technologies__list {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;

      .technologies__item {
        flex-direction: column;

        img {
          margin-bottom: 1rem;
        }
      }
    }
  }

  #projects {
    .project {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 3rem;
      margin-left: 2rem;

      .project__container {
        width: 30rem;
        height: auto;
        margin-right: 2rem;
      }

      .project__container:hover {
        transform: scale(1.05);
        transition: 0.5s;
      }

      .project__container:not(:hover) {
        transform: scale(1);
        transition: 0.5s;
      }

      .project__links {
        height: 10rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}

@media (min-width: 60rem) {
  #projects {
    .project {
      margin-bottom: 2rem;

      .project__container {
        display: flex;
        flex-direction: row;
        width: 80%;

        .project__screenshot {
          width: 60%;
          height: 100%;
          margin-bottom: 0;
          margin-right: 1rem;
          align-self: center;
        }
      }

      .project__links {
        margin: 0 auto;
      }
    }
  }
}
