* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #ababab;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(250, 237, 0, 0.3) 100%, transparent), url("./assets/background__markus-spiske-unsplash.jpg") bottom/cover no-repeat border-box;
  position: relative;
}
.header .header__background-image {
  width: 100%;
  height: 100vh;
  background-color: rgba(23, 23, 23, 0.9);
  clip-path: polygon(0 100%, 0 0, 100% 54%, 100% 100%);
  z-index: 1;
}
.header h1 {
  position: absolute;
  top: 50%;
  left: 20%;
}
.header h2 {
  position: absolute;
  top: 60%;
  left: 20%;
}

.nav-bar {
  width: 100%;
  background-color: #faed00;
  z-index: 1;
}
.nav-bar .toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
  outline: none;
  margin-left: 1rem;
}
.nav-bar .toggle-button .toggle-button__bar {
  width: 100%;
  height: 0.3rem;
  background-color: #171717;
  display: block;
  margin: 0.6rem 0;
}
.nav-bar .nav-bar__items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.nav-bar .nav-bar__items .nav-bar__item {
  padding: 0.5rem 0;
}
.nav-bar .nav-bar__items .nav-bar__item a {
  text-decoration: none;
}
.nav-bar .nav-bar__items .nav-bar__item a p {
  font-family: inherit;
  color: #171717;
}
.nav-bar .nav-bar__items .nav-bar__item-button {
  padding: 0.5rem 0.3rem;
  background-color: #353535;
}
.nav-bar .nav-bar__items .nav-bar__item-button button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: #ababab;
}
.nav-bar .nav-bar__items .nav-bar__item-button:hover button {
  color: #faed00;
}

.section-title {
  display: inline-block;
  margin-bottom: 2rem;
  border-bottom: 1.5px solid #faed00;
  height: 3rem;
}

#about {
  background-color: #353535;
  padding: 1rem 1rem;
}
#about a {
  text-decoration: none;
  color: #faed00;
}
#about .about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#about .about__container .photo-border {
  border: 1.5px solid #faed00;
  height: 22rem;
  width: 15rem;
  position: relative;
  margin-bottom: 3rem;
}
#about .about__container .photo-border .about__photo {
  height: auto;
  width: 15rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#technologies {
  background-color: #171717;
  padding: 1rem 1rem;
}
#technologies .technologies__list {
  list-style: none;
  margin: 0 auto;
  width: 14rem;
}
#technologies .technologies__list .technologies__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
#technologies .technologies__list .technologies__item img {
  height: 2rem;
  width: auto;
}

#certificates {
  background-color: #171717;
  padding: 1rem 1rem;
}
#certificates .certificates__gallery {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-gap: 1rem;
  justify-content: center;
}
#certificates .certificates__gallery--item {
  height: 10rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
#certificates .certificates__gallery--item img {
  height: 100%;
  width: 12rem;
}
#certificates .certificates__gallery--item a {
  text-decoration: none;
}
#certificates .certificates__gallery--item figcaption {
  background-color: #000000d7;
  color: #ababab;
  height: 10rem;
  padding-top: 2rem;
  position: relative;
}
#certificates .certificates__gallery--item:hover > figure > a > figcaption {
  transform: translateY(-145px);
  transition: 300ms;
}
#certificates .certificates__gallery--item:not(:hover) > figure > a > figcaption {
  transform: translateY(0px);
  transition: 300ms;
}

#projects {
  background-color: #171717;
  padding: 1rem 1rem;
}
#projects .project .project__container {
  display: block;
  border: 1.5px solid #faed00;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: inherit;
}
#projects .project .project__container .project__screenshot {
  width: 100%;
  height: auto;
}
#projects .project .project__container .project__title {
  margin: 1rem auto;
}
#projects .project .project__container .project__description {
  margin-bottom: 1rem;
}
#projects .project .project__links {
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}
#projects .project .project__links a {
  text-decoration: none;
  cursor: pointer;
}
#projects .project .project__links a img {
  height: 3rem;
  width: auto;
}

#contacts {
  background-color: #171717;
  padding: 1rem 1rem;
}
#contacts .contacts__links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contacts .contacts__links .contact__link {
  margin: 2rem 1rem;
}
#contacts .contacts__links .contact__link a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#contacts .contacts__links .contact__link a img {
  height: 3rem;
  width: 3rem;
}

.footer {
  background-color: #faed00;
  padding: 0.5rem;
}
.footer p {
  text-align: center;
  color: #171717;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes dropdown {
  from {
    height: 3rem;
  }
  to {
    height: 12rem;
  }
}
@keyframes dropup {
  from {
    height: 12rem;
  }
  to {
    height: 3rem;
  }
}
@media (min-width: 45rem) {
  .nav-bar .toggle-button {
    display: none;
  }
  .nav-bar .nav-bar__items {
    display: flex;
    flex-direction: row;
  }

  #about .about__container {
    flex-direction: row;
  }
  #about .about__text-section {
    max-width: 50%;
  }

  #technologies .technologies__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  #technologies .technologies__list .technologies__item {
    flex-direction: column;
  }
  #technologies .technologies__list .technologies__item img {
    margin-bottom: 1rem;
  }

  #projects .project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-left: 2rem;
  }
  #projects .project .project__container {
    width: 30rem;
    height: auto;
    margin-right: 2rem;
  }
  #projects .project .project__container:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
  #projects .project .project__container:not(:hover) {
    transform: scale(1);
    transition: 0.5s;
  }
  #projects .project .project__links {
    height: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 60rem) {
  #projects .project {
    margin-bottom: 2rem;
  }
  #projects .project .project__container {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  #projects .project .project__container .project__screenshot {
    width: 60%;
    height: 100%;
    margin-bottom: 0;
    margin-right: 1rem;
    align-self: center;
  }
  #projects .project .project__links {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
